parameters:


application:
	errorPresenter:
		4xx: Error
		5xx: Error
	mapping: App\*Module\Presenters\*Presenter


database:
	dsn: 'sqlite::memory:'
	user:
	password:


latte:
	strictTypes: yes


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no
